* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A7C7E7;
}



h1 {
    height: 300px;
    width: 400px;
    position: relative;
    left: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1-score {
    padding: 5px;
    height: 35px;
    width: 200px;
    font-size: 30px;
    position: relative;
    bottom: 100px;
    left: 500px;
    border: 1px solid black;
    box-shadow: 2px 2px;
}

.p1-total {
    padding: 5px;
    height: 35px;
    width: 200px;
    font-size: 30px;
    position: relative;
    top: 100px;
    left: 500px;
    border: 1px solid black;
    box-shadow: 2px 2px;
}

.p2-score {
    padding: 5px;
    height: 35px;
    width: 200px;
    font-size: 30px;
    position: relative;
    bottom: 194px;
    left: 900px;
    border: 1px solid black;
    box-shadow: 2px 2px;
}

.p2-total {
    padding: 5px;
    height: 35px;
    width: 200px;
    font-size: 30px;
    position: relative;
    top: 7px;
    left: 900px;
    border: 1px solid black;
    box-shadow: 2px 2px;
}


.p1-roll {
    font-size: 16px;
    padding: 7px 16px;
    background-color: #4CAF50;
    position: relative;
    left: 545px;
    top: 35px;

}

.p2-roll {
    font-size: 16px;
    padding: 7px 16px;
    background-color: #4CAF50;
    position: relative;
    left: 820px;
    top: 35px;

}

.p1-end {
    font-size: 16px;
    padding: 7px 16px;
    background-color: #4CAF50;
    position: relative;
    left: 270px;
    top: 90px;
}

.p2-end {
    font-size: 16px;
    padding: 7px 16px;
    background-color: #4CAF50;
    position: relative;
    left: 510px;
    top: 90px;
}

.reset {
    font-size: 16px;
    padding: 7px 16px;
    background-color: #4CAF50;
    position: relative;
    left: 160px;
    top: 200px;
}

.dice {
    position: absolute;
    bottom: 565px;
    left: 550px;
}

.dice-2 {
    position: absolute;
    bottom: 565px;
    left: 945px;
}

.p1-win {
    width: 250px;
    height: 50px;
    color: darkcyan;
    font-size: 40px;
    position: absolute;
    top: 770px;
    left: 720px;

}

.p2-win {
    width: 250px;
    height: 50px;
    color: darkcyan;
    font-size: 40px;
    position: absolute;
    top: 770px;
    left: 720px;

}