* {
    margin: 0;
    padding: 0;
}

#game {
    height: 1000px;
    width: 1000px;
}

#game h1 {
    height: 300px;
    width: 400px;
    position: relative;
    left: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1-score {
    height: 300px;
    width: 400px;
    font-size: 30px;
}

.p1-total {
    height: 300px;
    width: 400px;
    font-size: 30px;
}

.p2-score {
    height: 300px;
    width: 400px;
    font-size: 30px;
}

.p2-total {
    height: 300px;
    width: 400px;
    font-size: 30px;
}


.p1-roll {
    font-size: 16px;
    padding: 7px 16px;
    background-color: #4CAF50;
    position: relative;
    left: 680px;
    bottom: 50px;

}

.p2-roll {
    font-size: 16px;
    padding: 7px 16px;
    background-color: #4CAF50;
    position: relative;
    left: 800px;
    bottom: 50px;

}

.p1-end {
    font-size: 16px;
    padding: 7px 16px;
    background-color: #4CAF50;
    position: relative;
    left: 400px;
    top: 0px;
}

.p2-end {
    font-size: 16px;
    padding: 7px 16px;
    background-color: #4CAF50;
    position: relative;
    left: 500px;
    top: 0px;
}

.dice {
    position: relative;
    bottom: 100px;
    left: 200px;
}

.dice-2 {
    position: relative;
    bottom: 100px;
    left: 300px;
}